.header{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    li{
        a{
            color:$link;
            text-decoration:none;
            font-size:24px;
            font-weight:600;
        }
    }
}