// @import url('@/assets/scss/_color.scss');
@import url("~/assets/scss/_header.scss");
@import url("~/assets/scss/_button.scss");
@font-face {
    font-family: 'FarAwayGalaxy';
    src: url('/fonts/FarAwayGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.second-test{
    color:$primary
}
